@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

@font-face {
  font-family: Plus Jakarta Sans;
  src: url("./assets/fonts/JakartaSans-VariableFont.ttf");
}

html,
body {
  font-family: Plus Jakarta Sans;
}

.inter-font {
  font-family: Inter !important;
}

.plus-jakarta-sans {
  font-family: Plus Jakarta Sans !important;
}

.fade-in {
  display: block;
  transition: 0.5s;
  animation: fadeIn 0.5s linear;
}

.fade-out {
  transition: 0.5s;
  animation: fadeOut 0.5s linear;
}

.graph-line:hover {
  cursor: pointer !important;
  background: linear-gradient(
    180deg,
    #34caa5 0%,
    rgba(52, 202, 165, 0) 100%
  ) !important;
}

.graph-line:nth-child(2) {
  height: 120px !important;
}

.graph-line:nth-child(3) {
  height: 40px !important;
}

.graph-line:nth-child(4) {
  height: 121px !important;
}

.graph-line:nth-child(5) {
  height: 81px !important;
}

.graph-line:nth-child(6) {
  height: 216px !important;
}

.graph-line:nth-child(7) {
  height: 81px !important;
}

.graph-line:nth-child(8) {
  height: 131px !important;
}

.graph-line:nth-child(9) {
  height: 182px !important;
}

.graph-line:nth-child(10) {
  height: 51px !important;
}

.graph-line:nth-child(11) {
  height: 171px !important;
}

.graph-line:nth-child(12) {
  height: 151px !important;
}

.graph-lines {
  background-image: url("./assets/icons/Line.svg");
  background-size: cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
